[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
[user]
        name = XXX
        email = XXX
[alias]
        # basic
        s = status -uno
        co = checkout
        cob = checkout -b
        track = checkout --track
        del = branch -D
        delrem = push origin --delete
        psrem = push -u origin
        undo = reset HEAD~1 --mixed
        rmsubmodule = rm --cached . -rf
        # log
        lg = log --all --graph --decorate --oneline --simplify-by-decoration
        l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        # branch format
        br = branch --format='%(HEAD) %(if)%(HEAD)%(then)%(color:green)%(end)%(align:left,30)%(refname:short)%(end)%(color:reset) [%(color:blue)%(upstream:short)%(color:reset)] - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
[pull]
        rebase = true
[credential]
        helper = osxkeychain
[pager]
        branch = false
[push]
        default = current
